# User settings
xcuserdata/

# User-specific files
*.xcuserstate
*.xcbkptlist

# Build generated
build/
DerivedData/

# Obj-C/Swift specific
*.hmap
*.ipa

# OSX Temp
.DS_Store
.LSOverride

# OSX Thumbnails
._*

# Logs
*.log

# User-specific files
*.swp
*~

# Archive files
*.xcarchive

# Temporary files
*.tmp